In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/Weather_prob.csv')

In [3]:
df.head()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Unnamed: 8
0,-1.8,-3.9,86,4,8.0,101.24,0.05
1,-1.8,-3.7,87,4,8.0,101.24,0.05
2,-1.8,-3.4,89,7,4.0,101.26,NaN
3,-1.5,-3.2,88,6,4.0,101.27,NaN
4,-1.5,-3.3,88,7,4.8,101.23,0.05

In [4]:
df.isnull().sum()

Temp_C                0
Dew Point Temp_C      0
Rel Hum_%             0
Wind Speed_km/h       0
Visibility_km         0
Press_kPa             0
Unnamed: 8          372
dtype: int64

In [5]:
df.rename(columns={'Unnamed: 8':'Probability'},inplace=True)

In [6]:
df.head()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Probability
0,-1.8,-3.9,86,4,8.0,101.24,0.05
1,-1.8,-3.7,87,4,8.0,101.24,0.05
2,-1.8,-3.4,89,7,4.0,101.26,NaN
3,-1.5,-3.2,88,6,4.0,101.27,NaN
4,-1.5,-3.3,88,7,4.8,101.23,0.05

In [7]:
df.dropna(subset=['Probability'],inplace=True)

In [8]:
df.head()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Probability
0,-1.8,-3.9,86,4,8.0,101.24,0.05
1,-1.8,-3.7,87,4,8.0,101.24,0.05
4,-1.5,-3.3,88,7,4.8,101.23,0.05
5,-1.4,-3.3,87,9,6.4,101.27,0.05
6,-1.5,-3.1,89,7,6.4,101.29,0.05

In [9]:
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Probability
count,8412.00000,8412.000000,8412.000000,8412.000000,8412.000000,8412.000000,8412.000000
mean,8.98684,2.528126,66.390514,14.867451,28.587637,101.078427,0.136301
std,11.77839,10.978702,16.487354,8.643986,12.055152,0.837035,0.207023
min,-23.30000,-28.500000,18.000000,0.000000,0.200000,97.520000,0.010000
25%,0.10000,-6.000000,55.000000,9.000000,24.100000,100.590000,0.010000
50%,9.80000,3.500000,67.000000,13.000000,25.000000,101.100000,0.100000
75%,19.10000,11.900000,80.000000,20.000000,25.000000,101.610000,0.200000
max,33.00000,24.400000,100.000000,83.000000,48.300000,103.650000,0.900000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8412 entries, 0 to 8783
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Temp_C            8412 non-null   float64
 1   Dew Point Temp_C  8412 non-null   float64
 2   Rel Hum_%         8412 non-null   int64
 3   Wind Speed_km/h   8412 non-null   int64
 4   Visibility_km     8412 non-null   float64
 5   Press_kPa         8412 non-null   float64
 6   Probability       8412 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 525.8 KB

In [11]:
df.isnull().sum()

Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Probability         0
dtype: int64

In [12]:
import tensorflow

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
lr=LinearRegression()

In [19]:
df.shape

(8412, 7)

In [20]:
df.head()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Probability
0,-1.8,-3.9,86,4,8.0,101.24,0.05
1,-1.8,-3.7,87,4,8.0,101.24,0.05
4,-1.5,-3.3,88,7,4.8,101.23,0.05
5,-1.4,-3.3,87,9,6.4,101.27,0.05
6,-1.5,-3.1,89,7,6.4,101.29,0.05